<div>
    <table>
        <thead>
            <tr>
                <th>
                    <p>Nombre</p>
                </th>
                <th>
                    <p>Soc.</p>
                </th>
                <th>
                    <p>Factura</p>
                </th>
                <th>
                    <p>Demora</p>
                </th>
                <th>
                    <p>St</p>
                </th>
                <th>
                    <p>Clase</p>
                </th>
                <th>
                    <p>Fecha doc.</p>
                </th>
                <th>
                    <p>CPag</p>
                </th>
                <th>
                    <p>Importe en MD</p>
                </th>
                <th>
                    <p>Moneda</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @for(factura of facturas; track factura) {
                <tr>
                    <td>
                        <p>{{ factura.nombre }}</p>
                    </td>
                    <td>
                        <p>{{ factura.soc }}</p>
                    </td>
                    <td>
                        <p>{{ factura.factura }}</p>
                    </td>
                    <td>
                        <p>{{ factura.demora }}</p>
                    </td>
                    <td>
                        <p>{{ factura.st }}</p>
                    </td>
                    <td>
                        <p>{{ factura.clase }}</p>
                    </td>
                    <td>
                        <p>{{ factura.fechaDoc }}</p>
                    </td>
                    <td>
                        <p>{{ factura.cPag }}</p>
                    </td>
                    <td>
                        <p>{{ factura.importe | number:'1.2-2' }}</p>
                    </td>
                    <td>
                        <p>{{ factura.moneda }}</p>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8" class="text-right">
                    <strong>Total:</strong>
                </td>
                <td>
                    <p>{{ getTotalImporte().total| number:'1.2-2' }}</p>
                </td>
                <td>
                    <p>{{ getTotalImporte().moneda }}</p>
                </td>
            </tr>
          </tfoot>
    </table>
</div>