<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Soc.</th>
                <th>Factura</th>
                <th>Demora</th>
                <th>St</th>
                <th>Clase</th>
                <th>Fecha doc.</th>
                <th>CPag</th>
                <th>Importe en MD</th>
                <th>Moneda</th>
            </tr>
        </thead>
        <tbody>
            @for(factura of facturas; track factura) {
                <tr>
                    <td>{{ factura.nombre }}</td>
                    <td>{{ factura.soc }}</td>
                    <td>{{ factura.factura }}</td>
                    <td>{{ factura.demora }}</td>
                    <td>{{ factura.st }}</td>
                    <td>{{ factura.clase }}</td>
                    <td>{{ factura.fechaDoc }}</td>
                    <td>{{ factura.cPag }}</td>
                    <td>{{ factura.importe | number:'1.2-2' }}</td>
                    <td>{{ factura.moneda }}</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8"></td>
                <td>{{ getTotalImporte().total| number:'1.2-2' }}</td>
                <td>{{ getTotalImporte().moneda }}</td>
            </tr>
          </tfoot>
    </table>
</div>